* { box-sizing: border-box; }

@font-face {
  src: url("assets/font/Korataki Regular.ttf") format(ttf);
  font-family: "korataki-regular";
}
:root {
  --vert: #c5d08a;
}
:root {
  --beige: #ffe8d1;
}
:root {
  --brun: #b7a48b;
}
:root {
  --bleu: #90d4e0;
}
:root {
  --noisette: #a17c68;
}
:root{
  --brunF:#8a6856;
}
html {
  height: 100%;
}
body {
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color:var(--brunF);
}
.game {
  width: 750px;
  height: 700px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a17c68;
}
.logo {
  font-family: "korataki-regular";
}
i {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  text-align: center;
}
img {
  display: inline-flex;
  justify-content: center;
  width: 70%;
  object-fit: contain;
}
.vid{
  display: flex;
  justify-content: center;
  width: 750px;
  object-fit: contain;
}
.barreoption {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 750px;
  margin-top: 20px;
}
.bouton1 {
  background-color: var(--beige);
  border: none;
  width:200px;
}
.bouton1:hover {
  background-color: var(--bleu);
  border: none;
}
.bouton2 {
  background-color: var(--beige);
  border: none;
}
.bouton2:hover {
  background-color: var(--bleu);
  border: none;
}
.bouton3 {
  background-color: var(--beige);
  border: none;
}
.bouton3:hover {
  background-color: var(--bleu);
  border: none;
}
.effacer{
  background-color:var(--beige) ;
  border: none;
  margin-bottom:10px;
  margin-left: 10px;
  margin-right:10px;
}
.chapterReveille{
  color:var(--beige);
 background-image: url(assets/img/sable.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 }
.chapterReveille .game{
 opacity: 0.8;
}
 .chapter8{
  color:var(--beige);
  background-image: url(assets/img/monnai.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 }
 body.chapter8{
  background-color:#8a6856;
}
.chapter8 .game{
  opacity: 0.9;
}
 .chapter1{
   background: linear-gradient( to top, #456166,#90d4e0, #ffe8d1);
   color:var(--bleu);
 }
 .sousTitre{
   margin-bottom: 15px;
 }
 h1{
margin-top:10px;
   }
  body.chapter2{
    background-color:#8a6856;
 }
 .chapter3{
  background: linear-gradient( to top, #223366,#30d3f0, #ffe8d1);
 }
 .input{
   margin-bottom:10px;
   margin-top:22px;
 }